@model Team

<br />
<div class="card w-50 mx-auto">
	<h2 class="card-header">@Model.Name (@Model.Acronym)</h2>
	<div class="card-body">
		<img class="card-img-top" src="@Model.Image_url" alt="@Model.Name Logo" />
	</div>
	<div class="card-body">
		<h5 class="card-title">Players</h5>
		@if (Model.NoPlayers())
		{
			<h6 class="card-subtitle text-muted">No player data available</h6>
		}
	</div>
	@if (!Model.NoPlayers())
	{
		<ul class="list-group list-group-flush">
			@foreach (var player in Model.Players)
			{
				<li class="list-group-item">
					<a class="text-info" href="/players/@player.Slug">@player.Name</a>
				</li>
			}
		</ul>
	}
	<div class="card-footer text-muted">
		Location: @Model.Location
	</div>
</div>
<br />

@await Html.PartialAsync("_ReturnToMatchPartial")