@model TeamOpponents

@if(Model.Opponents.Count == 2)
{
	Team team1 = Model.Opponents[0];
	Team team2 = Model.Opponents[1];
	
	<div class="row text-center">
		<div class="col-5">
			<h2>@team1.Name (<a href="/teams/@team1.Slug">@team1.Acronym</a>)</h2>
			<img src="@team1.Image_url" alt="@team1.Name Logo">
			<h4>Players</h4>
			<ul style="text-align:left">
			@foreach(var player in team1.Players)
			{
				<li>
					@if(player.Role is not null)
					{
						<span>@player.Role: </span>
					}
					<a href="/players/@player.Slug">@player.Name</a>
				</li>
			}
			</ul>
		</div>
		<div class="col-2">
			<h1>Vs</h1>
		</div>
		<div class="col-5">
			<h2>@team2.Name (<a href="/teams/@team2.Slug">@team2.Acronym</a>)</h2>
			<img src="@team2.Image_url" alt="@team2.Name Logo">
			<h4>Players</h4>
			<ul style="text-align:left">
				@foreach (var player in team2.Players)
				{
					<li>
						@if (player.Role is not null)
						{
							<span>@player.Role: </span>
						}
						<a href="/players/@player.Slug">@player.Name</a>
					</li>
				}
			</ul>
		</div>
	</div>
}
else if(Model.Opponents.Count == 0)
{
	<h4>Team Data Not Available</h4>
}
else
{
	foreach(var team in Model.Opponents)
	{
		<div class="text-center">
			<h2>@team.Name (<a href="/teams/@team.Slug">@team.Acronym</a>)</h2>
			<img src="@team.Image_url" alt="@team.Name Logo">
			<h4>Players</h4>
			<ul style="text-align:left">
				@foreach (var player in team.Players)
				{
					<li>
						@if (player.Role is not null)
						{
							<span>@player.Role: </span>
						}
						<a href="/players/@player.Slug">@player.Name</a>
					</li>
				}
			</ul>
		</div>
	}
}
